* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: gray;
    padding: 1rem;
}

nav ul {
    width: 30rem;
    margin-left: 3rem;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}

main.container {
    display: flex;
    border: 3px solid green;
    width: 80%;
    background-color: gray;
    margin: 1rem auto;
    padding: 1rem;
    justify-content: space-between;
}

main.container > * {
    display: flex;
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: 3px solid green;
    justify-content: center;
    align-items: center;
}
