* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

#modal {
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    color: white;
    flex-wrap: wrap;
}

#title {
    font-family: 'Secular One', sans-serif;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
    line-height: 4rem;
    margin-bottom: 0.5rem;
}

.sub-title {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.75rem;
    color: #FFD029;
    line-height: 2rem;
    margin-bottom: 1rem;
}

#desc {
    margin-bottom: 3rem;
}

.titles {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}


.content {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.875rem;
}

.gridContainer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 40rem;
    height: 42.5rem;
}

#modal > div > section:nth-child(1) {
    margin-bottom: 3rem;
}

#modal > div > section:nth-child(2) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
}

#modal > div > section:nth-child(2) > div:nth-child(3) {
    margin-bottom: 3rem;
}

hr {
    border-color: #fcfcfc33;
}

.circle {
    background-color: #FFD029;
    height: 80rem;
    width: 80rem;
    display: inline-block;
    border-radius: 50%;
    margin-left: -77rem;
}

#image-container {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

#saturn-ring {
    margin-left: -16rem;
}

#main-title {
    position: absolute;
    width: 28rem;
    height: 100px;
    right: 5rem;
    z-index: 1;
    top: 2rem;
}

#main-title > h1 {
    font-size: 3.75rem;
    letter-spacing: 0.25rem;
}

#main-title > h2 {
    text-align: end;
}