* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}


#title {
    font-family: 'Secular One', sans-serif;
    font-size: 3.75rem;
    font-weight: 400;
    letter-spacing: 0.25rem;
    line-height: 4rem;
    margin-bottom: 0.5rem;
}

.sub-title {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.75rem;
    color: #FFD029;
    line-height: 2rem;
    margin-bottom: 1rem;
}

#desc {
    margin-bottom: 3rem;
}

.titles {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: white;
}


.content {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.875rem;
}

#modal {
    display: grid;
    position: fixed;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    grid-template-columns: 1fr 1fr 1fr;
    opacity: 0;
    transition: 0.5s;
    z-index: 0;
}

#main-content {
    z-index: 1;
    transition: 0.5s;
}

.gridContainer {
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 40rem;
    height: 42.5rem;
}

#image-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1.5fr 1.5fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 100vw;
}

#modal > div > section:nth-child(1) {
    margin-bottom: 3rem;
}

#modal > div > section:nth-child(2) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
}

#modal > div > section:nth-child(2) > div:nth-child(3) {
    margin-bottom: 3rem;
}

hr {
    border-color: #fcfcfc33;
}

.circle {
    height: 80rem;
    width: 80rem;
    border-radius: 50%;
}


#main-title {
    position: absolute;
    width: 28rem;
    height: 100px;
    right: 5rem;
    top: 2rem;
}

#main-title > h1 {
    font-size: 3.75rem;
    letter-spacing: 0.25rem;
}

#main-title > h2 {
    text-align: end;
}

#saturn {
    position: relative;
    z-index: 0;
    grid-row: 1;
    grid-column: 7;
}

#saturn-ring {
    position: relative;
    z-index: 1;
    grid-row: 1;
    grid-column: 7;
}

#sun {
    margin-left: -75rem;
    background-color: #FFD029;
}

.planet-item-1, .planet-item-2, .planet-item-3 {
    margin-left: -70rem; 
    grid-row: 1;
    grid-column: 1;
    background-color: #FFD029;
}

.planet-item-2 {
    height: 83rem;
    width: 83rem;
    opacity: 0.2;
}

.planet-item-3 {
    height: 86rem;
    width: 86rem;
    opacity: 0.1;
}

#space, .stars {
    position: absolute;
    top: 0.1rem;
    bottom: 0;
    left: 7rem;
    right: 0;
}

.stars {
    background-image: 
      radial-gradient(2px 2px at 20px 30px, #eeeeee00, rgba(0, 0, 0, 0)),
      radial-gradient(2px 2px at 40px 70px, #ffffff00, rgba(0, 0, 0, 0)),
      radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    filter: blur(2px);
  }

img:hover, #sun:hover {
    opacity: 0.7;
}


  