* {
    margin: 0;
    padding: 0;
}

.flexcontainer {
    display: flex;
    background-color: rgb(99, 99, 99);
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.letter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
    height: 30%;
    background-color: wheat;
    border-radius: 10px;
    box-shadow: 6px 6px;
}

.center {
   margin-top: 125px;
}

.topleft {
   margin-top: 5px;
   margin-left: 5px;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif 
}
