* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70vw;
    height: 5vw;
    background-color: rgb(238,238,238);
    display: flex;
    justify-content: center;
    align-items: center;
}

.meny ul {
    width: 65vw;
    height: 5vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.meny li {
    margin: 1vw;
}

.meny a {
    color: rgb(155,155,155);
    text-decoration: none;
}

.meny a:hover {
    text-decoration: underline;
}
