* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(53, 71, 140);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 20rem;
    height: 30rem;
    background-color: rgb(173, 213, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container > .quote {
    margin-top: auto;
}
.container > .author {
    padding-top: 1rem;
}

.container > p {
    font-style: italic;
}

.circle {
    width: 1rem;
    height: 1rem;
    background-color: gray;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.circle:first-child {
    background-color: red;
}