* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(53, 71, 140);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 20rem;
    height: 30rem;
    background-color: rgb(173, 213, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.author {
    padding-top: 1rem;
}

.container > div {
    font-style: italic;
}

div.circle:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
}

div.circle:first-child {
    background-color: black;
}

p.quote {
    margin-top: 13rem;
}

p.author {
    color: rgb(91, 106, 110)
}

.circle {
    width: 1rem;
    height: 1rem;
    background-color: gray;
    margin-bottom: 1rem;
    border-radius: 100%;
}

.circleContainer {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
}
