* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

div {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: azure;
}

.container > div {
    display: flex;
    width: 80%;
    height: 10%;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid black;
}

.itemone > * {
    flex-grow: 1;
}

.itemone > div:first-child {
    background-color: rgb(128, 0, 0);
    flex: 0;
}
.itemone > div:nth-child(2) {
    background-color: rgb(89, 60, 5);
    flex: 1;
}
.itemone > div:nth-child(3) {
    background-color: rgb(122, 128, 0);
    flex: 1;
}
.itemone > div:nth-child(4) {
    background-color: rgb(38, 128, 0);
    flex: 2;
}
.itemone > div:nth-child(5) {
    background-color: rgb(0, 58, 1);
    flex: 3;
}
.itemone > div:nth-child(6) {
    background-color: rgb(0, 128, 98);
    flex: 5;
}
.itemone > div:nth-child(7) {
    background-color: rgb(0, 51, 128);
    flex: 8;
}
.itemone > div:nth-child(8) {
    background-color: rgb(96, 0, 128);
    flex: 13;
}
.itemone > div:nth-child(9) {
    background-color: rgb(128, 0, 43);
    flex: 21;
}
.itemone > div:last-child {
    background-color: rgb(68, 0, 0);
    flex: 34;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    background-color: azure;
}

.container2 > div {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
    height: 10%;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid black;
}
.itemtwo > * {
    flex-grow: 1;
}

.itemtwo > div:first-child {
    background-color: rgb(128, 0, 0);
    flex: 0;
}
.itemtwo > div:nth-child(2) {
    background-color: rgb(89, 60, 5);
    flex: 1;
}
.itemtwo > div:nth-child(3) {
    background-color: rgb(122, 128, 0);
    flex: 1;
}
.itemtwo > div:nth-child(4) {
    background-color: rgb(38, 128, 0);
    flex: 2;
}
.itemtwo > div:nth-child(5) {
    background-color: rgb(0, 58, 1);
    flex: 3;
}
.itemtwo > div:nth-child(6) {
    background-color: rgb(0, 128, 98);
    flex: 5;
}
.itemtwo > div:nth-child(7) {
    background-color: rgb(0, 51, 128);
    flex: 8;
}
.itemtwo > div:nth-child(8) {
    background-color: rgb(96, 0, 128);
    flex: 13;
}
.itemtwo > div:nth-child(9) {
    background-color: rgb(128, 0, 43);
    flex: 21;
}
.itemtwo > div:last-child {
    background-color: rgb(68, 0, 0);
    flex: 34;
}

