* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50rem;
    height: 3rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.meny ul {
    display: flex;
    justify-content: center;
    width: 50rem;
    height: 3rem;
    list-style: none;
    
    
}

.meny li {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-grow: 1;
}

.item {
    color: black;
    text-decoration: none;
}

.meny a:hover {
    text-decoration: underline;
}

li.active  {
    background-color: rgb(141, 140, 140);
}

a.active {
    color: white;
}

