* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 148, 46);
}

h1, p {
    color: white;
    margin-right: 20px;
}

h1 {
   padding-top: 200px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 35vh;
    background-color: black;
    width: 100px;
    height: 200px;
    border-radius: 10px;
}

.item {
    border-radius: 50%;
    border: 5px solid;
    width: 50px;   
    height: 50px;
    border-color: rgba(0, 0, 0, 0.56);
}

.item:first-child {
    background-color: red;
}

.item:nth-child(2) {
    background-color: yellow;
}

.item:last-child {
    background-color: green;
}

