* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(7, 50px);
    gap: 2px;
    margin-left: 2px;

}

body > * {
    border: 2px solid black;
}

.item-1 {
    grid-area: 1 / 1 / 3 / 6;
}

.item-2 {
    grid-area: 3 / 1 / 3 / 6;
}

.item-3 {
    grid-area: 4 / 1 / 7 / 4
}

.item-4 {
    grid-area: 4 / 4 / 7 / 6
}

.item-5 {
    grid-area: 7 / 1 / 7 / 6
}

.item-6 {
    grid-area: 1 / 7 / 1 / 9
}
.item-7 {
    grid-area: 2 / 7 / 4 / 9
}
.item-8 {
    grid-area: 4 / 7 / 6 / 9
}
.item-9 {
    grid-area: 6 / 7 / 6 / 9
}
.item-10 {
    grid-area: 7 / 7 / 7 / 9
}