* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
}

.container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
}

.container > * {
    border: 2px solid black;
    align-items: center;
    justify-items: center;
}

.container-1 {
    grid-area: 1 / 1 / 3 / 3;
    display: grid;
    
}

.container-2 {
    grid-area: 1 / 3 / 3 / 5;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}

.container-2-item-1 {
    grid-area: 2 / 2
}

.container-3 {
    grid-area: 1 / 5 / 3 / 7;
    display: grid;
    grid-template-columns: 66px 66px 66px;
    grid-template-rows: 66px 66px 66px;
}

.container-3-item-1 {
    grid-area: 2 / 2
}

.container-3-item-2 {
    grid-area: 3 / 3
}

.container-4 {
    grid-area: 3 / 1 / 5 / 3;
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
}

.container-5 {
    grid-area: 3 / 3 / 5 / 5;
    display: grid;
    grid-template-columns: 66px 66px 66px;
    grid-template-rows: 66px 66px 66px;
    
}

.container-5-item-1 {
    grid-area: 1 / 3;
}
.container-5-item-2 {
    grid-area: 2 / 2;
}
.container-5-item-3 {
    grid-area: 3 / 1;
}
.container-5-item-4 {
    grid-area: 3 / 3;
}

.container-6 {
    grid-area: 3 / 5 / 5 / 7;
    display: grid;
    grid-template-columns: 66px 66px 66px;
    grid-template-rows: 66px 66px 66px;
}

.container-6-item-1 {
    grid-area: 1 / 3
}
.container-6-item-2 {
    grid-area: 2 / 1
}
.container-6-item-3 {
    grid-area: 2 / 3
}
.container-6-item-4 {
    grid-area: 3 / 1
}
.container-6-item-5 {
    grid-area: 3 / 3
}

.circle {
    background-color: black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


