* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(212,212,212);
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    width: 25rem;
    height: 35rem;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imageContainer { 
    margin-top: 140px;
    width: 150px; 
    height: 160px; 
    overflow: hidden; 
    border-radius: 50%; 
} 

.container h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgb(49,49,49);
}

.container h2 {
    color: rgb(183,172,172);
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.buttonContainer {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    margin-bottom: 1rem;
}

button {
    background-color: rgb(51,51,51);
    color: white;
    width: 20rem;
    height: 3.5rem;
    font-size: larger;
    border-radius: 30px;
    
}

.cross {
    margin-top: 0.5rem;
    margin-left: 23rem;
}