body {
    background-image: linear-gradient(rgb(31, 21, 77), rgb(111, 0, 255));
    height: 100vh;
    width: 99vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.box {
    color: rgb(243, 232, 255);
    background-color: rgb(36, 36, 36);
    padding: 14px 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
}

.box img {
    padding-left: 5px;
}

.nav {
    background-color: rgb(36, 36, 36);
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}

.nav a {
    float: left;
    color: rgb(185, 136, 246);
    text-align: center;
    padding: 14px 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 20;
    
}

section.box {
    margin-top: 0.7rem;
}

.nav a:hover {
    background-color: rgb(60, 60, 60);
    color: rgb(185, 136, 246);
}

.nav a.active {
    text-decoration: underline;
    color: rgb(185, 136, 246);
}

.flexContainer {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    padding-bottom: 10px;
}
 .flexContainer > div {
    margin-right: 15px;
 }

 .flexContainer h3 {
    margin: 0;
 }

footer {
    display: flex;
    background-color: rgb(36, 36, 36);
    align-items: flex-end;
    height: 40px;
    align-items: center;
    margin-top: auto;
    margin-bottom: 0.5rem;
    border-radius: 5px;
}

.footer p {
    color: rgb(185, 136, 246);
    padding: 14px 14px;
    margin: 0;
    justify-content: center;
    
}

.footer a {
    color: rgb(185, 136, 246);
    padding: 14px 16px;
    margin: 0;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}
