* {
    margin: 0;
    padding: 0;
}

body {
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 2px;
    margin-left: 2px;


}

body > * {
    border: 2px solid black;
}

.nav {
    grid-column: 1 / 13;
}

.item-1 {
    grid-column: 1 / 13;
    grid-row: 2 / 5;
}

.item-2 {
    grid-column: 1 / 8;
    grid-row: 5 / 7;
}

.item-3 {
    grid-column: 1 / 8;
    grid-row: 7 / 9;
}

.item-4 {
    grid-column: 1 / 8;
    grid-row: 9 / 11;
}

.item-5 {
    grid-column: 8 / 13;
    grid-row: 5 / 11;
}

.item-6 {
    grid-column: 1 / 5;
    grid-row: 11 / 13;
}

.item-7 {
    grid-column: 5 / 9 ;
    grid-row: 11 / 13;
}

.item-8 {
    grid-column: 9 / 13 ;
    grid-row: 11 / 13;
}

.item-9 {
    grid-column: 1 / 4;
    grid-row: 13 / 15;
}

.item-10 {
    grid-column: 4 / 7;
    grid-row: 13 / 15;
}

.item-11 {
    grid-column: 7 / 10;
    grid-row: 13 / 15;
}

.item-12 {
    grid-column: 10 / 13;
    grid-row: 13 / 15;
}

.item-13 {
    grid-column: 1 / 13;
    grid-row: 15 / 16

}

